$player_width: 3%;

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #333;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.playground {
  position: relative;
  width: 100%;
  max-width: 500px;
  padding-top: 100%;
  overflow: hidden;

  &--loaded {
    background: url('img/moon.jpg') repeat 0 0;
  }

  + .button {
    display: block;
    margin: 10px auto 0;
  }
}

.player {
  display: none;

  .playing & {
    display: block;
    position: absolute;
    pointer-events: none;
    width: $player_width;
    height: $player_width;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lime;
    border-radius: 50%;
    z-index: 1;
  }

  &_active {
    background-color: orange;
  }
}

.enemy {
  position: absolute;
  top: -1000px;
  left: -1000px;
  pointer-events: none;
  width: $player_width;
  height: $player_width;
  transform: translate(-50%, -50%);
  background-color: red;
  border-radius: 50%;
}

.button {
  display: inline-block;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;

  .playing & {
    display: none;
  }
}
